@import 'mixins';

$type-scale: (
  typescale-1: (
    2,
    3,
    1,
    5.653,
  ),
  typescale-2: (
    1.5,
    2,
    1,
    3.998,
  ),
  typescale-3: (
    1.5,
    1,
    0,
    2.827,
  ),
  typescale-4: (
    1,
    1,
    0,
    1.999,
  ),
  typescale-5: (
    1,
    1,
    0,
    1.414,
  ),
);

@each $scaleFont, $properties in $type-scale {
  %#{$scaleFont} {
    @include line-height(nth($properties, 1));
    @include margin-top(nth($properties, 2));
    @include margin-bottom(nth($properties, 3));
    font-size: nth($properties, 4) * 1rem;
  }
}
