.site-title {
  @extend %typescale-4;
  font-weight: 300;
}

.city-name {
  font-size: $base-font-size;
  font-weight: 700;
}

.nav {
  background: #fff;
  flex: 1;

  &__header {
    @include margin-bottom(1);
    text-align: center;
  }

  &__item {
    $nav-item-border: 1px solid #D5D4D4;

    border-top: $nav-item-border;

    &:last-of-type {
      border-bottom: $nav-item-border;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
}

.wi-link-icon::before {
  @extend %typescale-4;
  flex: 1;
  margin-right: 1rem;
}

.day-link-temps {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.day-link-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.link-indicator {
  justify-self: flex-end;
}
