@import '../../../global_styles/typography.scss';

.link_item {
  $nav-item-border: 1px solid #d5d4d4;

  border-top: $nav-item-border;

  &:last-of-type {
    border-bottom: $nav-item-border;
  }
}

.link {
  color: var(--current-time-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-decoration: none;

  & > * {
    transition: transform 0.3s;
  }

  &:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;

    & > * {
      transform: scale(1.1);
    }
  }
}

.day {
  &_link__temps {
    @include margin-top(0);
    @include margin-bottom(0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 40%;
      height: 3%;
      background-color: #555;
      transform-origin: left center;
      transform: rotate(-45deg) translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &_hi__temp {
    @extend %typescale-5;
    @include margin-top(0);
    font-weight: bold;
    margin-bottom: 25%;
  }

  &_low__temp {
    @extend %typescale-5;
    margin-top: 25%;
  }
}

.wi_link_icon::before {
  @extend %typescale-4;
  flex: 1;
  margin-right: 0.5rem;
}

.day_link__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
